# SWD1a - Introduction to Python

Material developed in December 06th 2023.

## Topic 4: Storing Multiple Values in Lists

In [1]:
# Create a list with odd numbers
odds = [1, 3, 5, 7]

In [2]:
# display the list
odds

[1, 3, 5, 7]

In [3]:
# We can access elements of a list using indices
print("first element", odds[0])
print("second element", odds[1])
print("third element", odds[2])
print("last element", odds[-1])

first element 1
second element 3
third element 5
last element 7

In [4]:
print("list size = ", len(odds))

list size =  4

In [5]:
# Create a new list with a typo
names = ["Curie", "Darwing", 'Turing']

In [6]:
# display the list
names

['Curie', 'Darwing', 'Turing']

In [7]:
# Lists are mutable, so you can change one value
names[1] = "darwin"

In [8]:
# display the list - Note the new value
names

['Curie', 'darwin', 'Turing']

In [10]:
# Store one item in a variable
name = names[1]

print(name)

# you can access the letters in a string
print(name[0])

darwin
d

In [11]:
# But string is immutable - so you can not change just a part of the string
name[0] = 'D'  # try this will raise an error!

TypeError: 'str' object does not support item assignment

- lists are mutable
- strings, integer, float = immutable

In [12]:
name = 'Darwin' # reassign the variable value
name

'Darwin'

### Test memory allocation

In [24]:
# Create new list
mild_salsa = ["peppers", "onions", "tomatoes"]

# Create a second list as a copy from the first list
hot_salsa = mild_salsa#.copy()

# Print both lists
print("initial lists:")
print("mild", mild_salsa)
print("hot", hot_salsa)

# Update one of the values in one of the lists
hot_salsa[0] = "hot peppers"

# Update another values in another list
mild_salsa[1] = "cilantro"

# Print both lists
print("\nupdated lists") # "\n introduces a line break"
print("hot", hot_salsa)
print("mild", mild_salsa)

initial lists:
mild ['peppers', 'onions', 'tomatoes']
hot ['peppers', 'onions', 'tomatoes']

updated lists
hot ['hot peppers', 'cilantro', 'tomatoes']
mild ['hot peppers', 'cilantro', 'tomatoes']

We changed one list, but both were affected.

This happens because lists are mutable, so the way they are stored is pointing to one "memory local".

When we create the second list, instead allocate the information in a different place, we create a reference that point to the same place we had before.

In [23]:
# Create new list
mild_salsa = ["peppers", "onions", "tomatoes"]

# Create a second list using the copy method
hot_salsa = mild_salsa.copy()

# Print both lists
print("initial lists:")
print("mild", mild_salsa)
print("hot", hot_salsa)

# Update one of the values in one of the lists
hot_salsa[0] = "hot peppers"

# Update another values in another list
mild_salsa[1] = "cilantro"

# Print both lists
print("\nupdated lists") # "\n introduces a line break"
print("hot", hot_salsa)
print("mild", mild_salsa)

initial lists:
mild ['peppers', 'onions', 'tomatoes']
hot ['peppers', 'onions', 'tomatoes']

updated lists
hot ['hot peppers', 'onions', 'tomatoes']
mild ['peppers', 'cilantro', 'tomatoes']

## Nested lists

In [26]:
# Create a list of lists
veg = [["lettuce", "zucchini"], # green
       ["tomatoes", "peppers", "betroot"], #red
       ["yellow peppers", "carrot"]] # yellow

In [27]:
# Use two indices to localise the desired item
print("print one green veg:", veg[0][1])
print("print one yellow veg:", veg[2][0])
print("print two red veg:", veg[1][1], veg[1][2])
print("print two red veg:", veg[1][0:2])

print one green veg: zucchini
print one yellow veg: yellow peppers
print two red veg: peppers betroot
print two red veg: ['tomatoes', 'peppers']

### Extra: Difference - array and list

In [29]:
# Create one list
listA = [35, 1.64]
listA

[35, 1.64]

In [30]:
import numpy

# create one numpy array
arrayA = numpy.array([35, 1.64])
arrayA

array([35.  ,  1.64])

In [31]:
# same operator do different things
print(listA * 2)  # append the item values at the end
print(arrayA * 2)  # multiply every item by two

[35, 1.64, 35, 1.64]
[70.    3.28]

In [33]:
# operator is not available for both variable types
print(arrayA / 2)  # this works
print(listA / 2)  # this raises an error - lists do not have a division operator

[17.5   0.82]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

## Repeated actions

In [ ]:
odds = [1, 3, 5, 7]

In [ ]:
print(odds[0])
print(odds[1])
print(odds[2])
print(odds[3])

In [ ]:
list(range(4))

In [ ]:
# for loops

for i in range(4):
    print("i value:", i)
    print("odds value:", odds[i])
    print("-------")

In [ ]:
for j in range(100):
    print("j value:", j)

In [ ]:
for item in odds:
    print(item)